# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Node and frontend
node_modules/
.next/
dist/
build/

# Vercel
.vercel/

# Big model files (Render can handle them)
*.pkl
*.sav
*.joblib

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
